<!DOCTYPE html>
<html lang="en">

<head>
  <title>Results</title>
  <link href="/css/output.css" rel="stylesheet">
</head>

<body>
  <%- include('components/navbar-result') %>
    <div class="bg-gray-100 flex items-center justify-center min-h-screen">
      <div class="bg-white p-8 rounded shadow-md w-96">
        <h1 class="text-2xl font-bold">Results</h1>
        <ul class="mt-4">
          <% if (totalQuiz==0) { %>
            <meta http-equiv="refresh" content="0; url=http://localhost:3000/">
            <% } %>
              <li class="mb-2">Jawaban Yang Benar: <%= correctAnswer %>/<%= totalQuiz %>
              </li>
              <% // Object.entries(scores).forEach(([player, score])=> { %>
                <!-- <li class="mb-2"><%= //player %>: <%= //score %> points</li> -->
                <% //}) %>
        </ul>
      </div>
    </div>
</body>

</html>